@{
    ViewData["Title"] = "الرئيسية";
}

<section id="main-photo"></section>
    <section id="clinic-intro">
      <div class="container col-xxl-8 px-4 py-5">
        <div
          class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5"
        >
          <div class="col-10 col-sm-8 col-lg-6">
            <img
              src="/imgs/2.jpg"
              class="d-block mx-lg-auto img-fluid"
              alt="Bootstrap Themes"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="display-6 fw-bold lh-1 mb-3">
              مرحباً بك في عيادة الإسم
            </h1>
            <p class="lead">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
              سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات
              في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها
              تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد
              محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص
              مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب
              تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال
              "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد
              في نتائج البحث.
            </p>
            <a id="btn-aboutus"> إعرف المزيد </a>
          </div>
        </div>
      </div>
    </section>
    <section id="our-services">
      <div class="container">
        <h2 class="display-6 fw-bold lh-1 mb-3">خدماتنا</h2>
        <div class="service-container">
          <div class="service-card">
            <img src="/imgs/3.jpg" alt="" />
            <h3>عنوان الخدمة</h3>
            <p>
              خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن
              له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما
              يجعله أكثر من 2000 عام في القدم.
            </p>
          </div>
          <div class="service-card">
            <img src="/imgs/3.jpg" alt="" />
            <h3>عنوان الخدمة</h3>
            <p>
              خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن
              له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما
              يجعله أكثر من 2000 عام في القدم.
            </p>
          </div>
          <div class="service-card">
            <img src="/imgs/3.jpg" alt="" />
            <h3>عنوان الخدمة</h3>
            <p>
              خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن
              له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما
              يجعله أكثر من 2000 عام في القدم.
            </p>
          </div>
          <div class="service-card">
            <img src="/imgs/3.jpg" alt="" />
            <h3>عنوان الخدمة</h3>
            <p>
              خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن
              له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما
              يجعله أكثر من 2000 عام في القدم.
            </p>
          </div>
          <div class="service-card">
            <img src="/imgs/3.jpg" alt="" />
            <h3>عنوان الخدمة</h3>
            <p>
              خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن
              له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما
              يجعله أكثر من 2000 عام في القدم.
            </p>
          </div>
          <div class="service-card">
            <img src="/imgs/3.jpg" alt="" />
            <h3>عنوان الخدمة</h3>
            <p>
              خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن
              له جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما
              يجعله أكثر من 2000 عام في القدم.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="contact-us">
      <div class="container">
        <h2 class="display-6 fw-bold lh-1 mb-3">تواصل معنا</h2>
        <form action="/" method="post" class="">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="الإسم"
            />
            <label for="floatingInput">اللإسم</label>
          </div>
          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">الإيميل</label>
          </div>
          <textarea  rows="7" class="form-control" placeholder="أكتب إستفسارك هنا"></textarea>
          <div class="d-flex justify-content-end w-100">
            <input type="submit" value="إرسال" class="btn btn-success mt-3 mb-5 py-2 px-5" />
          </div>
        </form>
      </div>
    </section>
    <section id="book-now-section">
      <div class="container">
        <div>
          <h3 class="display-6 fw-bold lh-1 mb-3">عيادة "إسم العيادة"</h3>
          <p>
            خلافاَ للإعتقاد السائد فإن لوريم إيبسوم ليس نصاَ عشوائياً، بل إن له
            جذور في الأدب اللاتيني الكلاسيكي منذ العام 45 قبل الميلاد، مما يجعله
            أكثر من 2000 عام في القدم.
          </p>
        </div>
        <div>
          <a href="" class="book-now" style="text-decoration: none"
            >إحجز موعد</a
          >
        </div>
      </div>
    </section>