@{
    Layout = "_Layout";
}
<div class=" container">
    <div class="alert-success">
        <h2 class="h3">تم تسجيل حجزك بنجاح</h2>
        <p>رقم حجزك هو : @ViewBag.Number</p>
        <p>ترتيبك : @ViewBag.Order</p>
    </div>
</div>