@model User
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "تعديل الرقم السري";

}

<form method="post" class="text-dark  p-5">
    <h2 class="text-center text-success">تعديل الرقم السري للمستخدم (@Model.FullName)</h2>
    <div asp-validation-summary="ModelOnly"></div>
    <div class="row mb-3 mx-0 justify-content-center">
        <input hidden asp-for="UserId" />
        <div class="col-12 mb-3">
            <p>الإسم : @Model.FullName</p>
        </div>
        <div class="col-12 mb-3">
            <p>الإيميل : @Model.Email</p>
        </div>
        <div class="col-12 mb-3">
            <label asp-for="Password" class="fw-bold d-block form-label mt-3">الرقم السري الجديد</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="mt-2 d-flex justify-content-end gap-3">
        <input type="submit" value="تأكيد" class="btn btn-success d-inline-block  px-3" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
